:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

/* Логотип */
.logo-header {
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-footer {
  font-family: Raleway, sans-serif;

  font-weight: 700;
  font-size: 22px;
  line-height: 1.18;
}

.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #212121;
}

.logo-studio.footer {
  color: #ffffff;
}

/* Навигация сайта */

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.cont-nav .link {
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus,
.cont-nav .link:hover,
.cont-nav .link:focus {
  color: var(--accent-color);
}

/* Футер */
footer {
  background-color: var(--footer-bg-color);
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.address .street {
  color: #ffffff;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
}

.join-in {
  color: #ffffff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.copyright {
  color: rgba(255, 255, 255, 0.4);

  font-size: 12px;
  line-height: 2;
  text-align: center;
}
