/*  цвет основного текста #757575  */
/*  цвет заголовков #212121  */
/*  цвет акцента #2196F3   */
/*  белый цвет #FFFFFF    */
/*  цвета в футере rgba(255, 255, 255, 0.6)
                   rgba(255, 255, 255, 0.4) */

/* цвет фона кнопок #F5F4FA */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --button-bg-color: #f5f4fa;
}

/* Кнопка фильтра */

.button {
  color: var(--title-text-color);
  background-color: var(--button-bg-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* Список работ  */

.works .title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .description {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}

.works .text {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);

  font-size: 18px;
  line-height: 1.56;
}
